# Ignore trace files
*.xz
*.trace
*.champsimtrace*

# Ignore results
results/

# Ignore binaries
bin/

# Ignore build files
*.o
*.out
*.vscode*  
*.git
ChampSim/vcpkg/
ChampSim/vcpkg_installed/
ChampSim/test/
*__pycache__*
